<!DOCTYPE html>
<html>
<head>
	<title>Portfolio</title>
	<link rel="stylesheet" href="/css/foundation.css">
	<link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="off-canvas-wrapper">
<div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>
<div class="off-canvas position-left reveal-for-large" id="my-info" data-off-canvas data-position="left">
<div class="row column">
<br>
<img class="thumbnail" src="/images/Shawn.jpg">
<h5>Lashawn Jones</h5>
<p>Student in 2018-2019 UCLA FullStack Coding Bootcamp. Graduate of Kaplan University Masters of
Project Management Program. Graduate of University of Wisconsin Undergraduate Business Administration
Program. Owner/Operator of <a href="https://www.Sharespace.com">Sharespace Hostel</a>. 
Future FullStack Coder and Project Manager.</p>
</div>
</div>
<div class="off-canvas-content" data-off-canvas-content>
<div class="title-bar hide-for-large">
<div class="title-bar-left">
<button class="menu-icon" type="button" data-open="my-info"></button>
<span class="title-bar-title">Lashawn Jones</span>
</div>
</div>
<div class="callout success" id="cprim">
<div class="row column">
<h1>FullStack Development Portfolio:</h1>
<p class="lead">Please click on the photos below to view my projects.</p>
</div>
</div>
<div class="padding row small-up-2 medium-up-3 large-up-4">
{{{body}}}
</div>
<hr>
<a href="/admin">Admin Area</a>
</div>
</div>
</div>

<script src="http://code.jquery.com/jquery-1.12.0.min.js"></script>
<script src="/js/main.js"></script>
</body>
</html>