{{#if projects}}
	{{#each projects}}
		<div class="column responsive-embed">
		<h5 class="text-center">{{title}}</h5>
		<img src="/images/{{image}}">
		
		<p class="text-right show"><a href="/details/{{id}}">Show More</a></p>
		</div>
	{{/each}}
{{else}}
	<p>No projects</p>
{{/if}}

