{{#if projects}}
	{{#each projects}}
		<div class="column">
		<img class="thumbnail" src="/images/{{image}}">
		<h5 class="text-left">{{title}}</h5>
		<p class="text-right show"><a href="/details/{{id}}">Show More</a></p>
		</div>
	{{/each}}
{{else}}
	<p>No projects</p>
{{/if}}
