{{#if projects}}
	{{#each projects}}
		<div class="column media-object">
  			<div class="media-object-section">
			<h5 class="text-center">{{title}}</h5>
			<img class="responsive-embed" src="/images/{{image}}">
			<p class="text-right show"><a href="/details/{{id}}">Show More</a></p>
  			</div>
		</div>
	{{/each}}
{{else}}
	<p>No projects</p>
{{/if}}

